<main color="primary" class="flex w-full h-full items-center justify-center">
  <mat-card class="w-[80%] h-[70vh]">
    <mat-card-header class="bg-slate-500">
      <mat-card-title class="text-white font-extrabold text-3xl mb-3">Incremento</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex w-full h-full items-center justify-center">
      <div class="flex flex-col items-center justify-center gap-7">
        <span class="bg-slate-400/20 px-4 py-2 rounded-3xl w-full text-center font-bold"
          [ngClass]="{'text-red-600':i<0,'text-amber-500': i>0, 'text-green-500': i>5}">{{i}}</span>
        <div class="flex gap-5">
          <button mat-stroked-button color="primary" (click)="incrementar()" [disabled]="i == 10"
            [ngClass]="{'bg-red-600 text-white':i<0,'bg-amber-500 text-white': i>0, 'bg-green-500 text-white': i>5}">Incrementar</button>
          <button mat-stroked-button color="accent" (click)="decrementar()" [disabled]="i == -10"
            [ngClass]="{'bg-red-600 text-white':i<0,'bg-amber-500 text-white': i>0, 'bg-green-500 text-white': i>5}">Decrementar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</main>
<router-outlet></router-outlet>